boto3==1.17.78
botocore==1.20.78
certifi==2020.12.5
chardet==4.0.0
dnslib==0.9.16
dnspython==1.16.0
docopt==0.6.2
dulwich==0.20.21
idna==2.10
jmespath==0.10.0
localstack==0.12.10
localstack-client==1.20
localstack-ext==0.12.9.21
pyaes==1.6.1
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.4
